fastapi==0.121.3
alembic==1.17.2
uvicorn[standard]
gunicorn
anthropic==0.34.2
openai==1.45.0
chromadb==0.5.5
langchain==0.2.14
langchain-community==0.2.12
pypdf==4.3.1
redis==5.0.8
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic_settings==2.12.0
pytest==8.3.3
tiktoken==0.7.0